.main-background {
  width: 100%;
  height: 1000px;
  background-image: url(/11-03/junill.jpg);
  background-repeat: no-repeat;
  /* 빈공간 없이 사진으로 채운다 */
  background-size: cover;
  /* 배경이 안짤리게 한다 */
  background-size: contain;
  background-position: center;
  /* 배경 이미지가 고정이된다 */
  /* background-attachment: fixed; */
  /* 밝기 조정 */
  filter: brightness(70%);
  padding: 1px;
}

.main-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  display: fixed;
  margin-top: 10px;
  margin-left: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(198, 8, 236);
}

.menu-list {
  margin-left: -30px;
}

.menu-list li {
  font-size: 24px;
  margin-bottom: 55px;
}

.item {
  border: 2px solid black;
  display: inline-block;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
}

.login {
  width: 150px;
  height: 50px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
